@import "./Colors";

@mixin navBarElementBorder() {
  border-style: solid;
  border-color: $theme-color2;
  border-width: medium;
}

.navBarElement {
  @include navBarElementBorder;
  border-radius: 5%;
  color: white;

  // padding-right: 20%;
}

.navBarSearchBar {
  @include navBarElementBorder;
}

.navElementLink {
  text-decoration: none;
}

.navBarBorder {
  @include navBarElementBorder;
}
